.github @klubfitpp/webdev

*.html @klubfitpp/webdev
*.css @klubfitpp/webdev
*.js @klubfitpp/webdev
package.json @klubfitpp/webdev
package-lock.json @klubfitpp/webdev
Gemfile @klubfitpp/webdev
Gemfile.lock @klubfitpp/webdev
_config.yml @klubfitpp/webdev
pages @klubfitpp/webdev
events @klubfitpp/webdev
news @klubfitpp/webdev

_people @klubfitpp/predstavenstvo
documents @klubfitpp/predstavenstvo
CODEOWNERS @klubfitpp/predstavenstvo
