---
layout: default
title: Hlavní stránka
---
<section class="hello">
    {% include nav.html %}

    <img class="hello__logo" src="{{ "/assets/images/logo.svg" | relative_url }}" alt="Logo FIT++"/>
    <span class="hello__arrow"></span>
</section>

<section class="about">
  <h2 class="section__title">{{ "home.about.title" | t }}</h2>
  <p>{{ "home.about.subtitle" | t }}</p>
  <article class="about__article">
    <h3 class="about__article__title"><iconify-icon noobserver class="about__article__title__icon" icon="ion:ios-calendar"></iconify-icon>{{ "home.about.events.title" | t }}</h3>
    <p class="about__article__text">{{ "home.about.events.description" | t }}</p>
  </article>
  <article class="about__article">
    <h3 class="about__article__title"><iconify-icon noobserver class="about__article__title__icon" icon="ion:ios-people"></iconify-icon>{{ "home.about.community.title" | t }}</h3>
    <p class="about__article__text">{{ "home.about.community.description" | t }}</p>
  </article>
  <article class="about__article">
    <h3 class="about__article__title"><iconify-icon noobserver class="about__article__title__icon" icon="ion:ios-bulb"></iconify-icon>{{ "home.about.ideas.title" | t }}</h3>
    <p class="about__article__text">{{ "home.about.ideas.description" | t }}</p>
  </article>
</section>

<section class="events">
  <h2 class="section__title">{{ "home.events.upcoming" | t }}</h2>
  <div class="events__article__wrapper">
    {% assign today = 'now' | date: "%s" %} <!-- Get today's date as a timestamp -->
    {% assign yesterday = today | minus: 86400 %}
    {% assign i = 0 %}
    {% for event in site.events %}
      {% assign event_timestamp = event.date | date: "%s" %}
      {% assign event_timestamp_int = event_timestamp | minus: 0 %}
      {% if event_timestamp_int > yesterday %}
        {% assign i = i | plus: 1 %}
        {% if i < 4 %}
          <a href="{{event.url}}">
            <article class="event__article " >
              <div class="event__title_wrapper">
                <h3 class="event__title">{{event.title}}</h3>
              </div>
              <div class="event__background event__image" style="background-image: url({{ event.img | relative_url }});">
              </div>
              <div class="event__footer ">
                <small class="event__date">{{ event.date | date: "%-d. %-m. %Y" }}</small>
                <span class="event__link" href="{{event.url}}">{{ "home.events.more_info" | t }}</span>
              </div>
            </article>
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  <a class="events__more__link" href="/events">{{ "home.events.other" | t }}</a>
</section>

<section class="news">
  <h2 class="section__title">{{ "home.about.articles.title" | t }}</h2>
  <div class="news__article__wrapper">
    {% assign news = site.news | sort: 'date' | reverse  %}
    {% for post in news limit:3 %}
    <article class="news__article ">
      <a href="{{post.url}}"><div class="news__image" style="background-image: url({{ post.img | relative_url }});"></div></a>
      <div class="news__text ">
          <a href="{{post.url}}"><h3 class="news__title ">{{post.title}}</h3></a>
          <p class="news__short">{{post.short}}</p>
          <div class="news__footer">
            <a class="news__link" href="{{post.url}}">{{ "home.articles.more_info" | t }}</a>
            <small class="news__date">{{ post.date | date: "%-d. %-m. %Y" }}</small>
          </div>
      </div>
    </article>
    {% endfor %}
  </div>
  <a class="news__more__link" href="/news">{{ "home.articles.other" | t }}</a>
</section>

<section class="people">
  <h2 id="lide" class="section__title">{{ "home.people" | t }}</h2>
  <!-- TODO: probs anglicky role? -->
  <div class="people__wrapper">
    {% assign people = site.people | sort: 'pos' %}
    {% for person in people %}
    <article class="people__article">
      <div class="people__article__img" style="background-image: url({{ person.img | relative_url }});"></div>
      <h3 class="people__article__name">{{person.name}} {{person.surname}}</h3>
      <p class="people__article__role">{{person.role1}}</p>
      <p class="people__article__role">{{person.role2}}</p>
      <a href="mailto:{{person.email}}" class="people__article__role">{{person.email}}</a>
    </article>
    {% endfor %}
  </div>
</section>

<section class="refs">
  <h2 class="section__title">{{ "home.refs" | t }}</h2>
  <article class="refs__links">
    <a class="refs__links__link" href="https://su.cvut.cz" target="_blank" rel="noopener noreferrer">Studentská unie ČVUT</a>
    <a class="refs__links__link" href="https://seznamovak.fit.cvut.cz/" target="_blank" rel="noopener noreferrer">Seznamovák FIT</a>
    <a class="refs__links__link" href="https://magistrovak.fit.cvut.cz/" target="_blank" rel="noopener noreferrer">Magistrovák FIT</a>
    <a class="refs__links__link" href="https://queer.pages.fit" target="_blank" rel="noopener noreferrer"> QueerFIT</a>
  </article>
</section>
