:root {
    --blue: #0073bc;
    --yellow: #f9b000;
    --white: #fefefe;
    --black: #343434;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
    letter-spacing: 0.5px;
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    body {
        font-size: 24px;
    }
}

h1, h2, h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

p {
    margin: 0;
    color: #343434;
    line-height: 1.5;
}

.title {
    display: none;
}

section {
    position: relative;
    padding: 3em 2em;
}

.section__title {
    margin: 0 0 1.5em;
    text-align: center;
    color: var(--blue);
}

/* hello */
.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--white);
    background: url("/images/background.jpg") no-repeat center center;
    background-size: cover;
}

.hello__logo {
    width: 50vw;
    max-width: 720px;
    box-shadow: 0 0 .5em rgba(255, 255, 255, .5);
    background: rgba(255, 255, 255, .5);
}

.hello__arrow {
    position: absolute;
    bottom: calc(10% + 2em);
    margin: auto;
    width: 2em;
    height: 2em;
    border-left: .15em solid var(--blue);
    border-bottom: .15em solid var(--yellow);
    transform: rotate(-45deg);
    animation: hello__arrow-animation 1s infinite ease-in-out;
}

@keyframes hello__arrow-animation {
    0% {
        transform: rotate(-45deg) translate(.3em, -.3em);
    }

    50% {
        transform: rotate(-45deg) translate(0, 0);
    }

    100% {
        transform: rotate(-45deg) translate(.3em, -.3em);
    }
}

/* about */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--white);
}

.about__article {
    width: 100%;
    max-width: 720px;
    margin: 1em 0;
}

.about__article:first-of-type {
    margin: 1em 0 0;
}

.about__article:last-of-type {
    margin: 0 0 1em 0;
}

.about__article__title {
    justify-content: flex-start;
    padding: 0 .5em;
    margin: 0 0 10px 0;
}

.about__article__title__icon {
    padding: 0 .5em 0 0;
    font-size: 2em;
    color: var(--yellow)
}

/* contacts */

.refs__scream {
    text-align: center;
}

.refs__links {
    margin: 2em auto;
    width: fit-content;
}

.refs__links__title {
    margin: 1em 0 .5em;
}

.refs__links__text {
    text-align: center;
}

.refs__links__link {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: .5em 0;
    color: var(--blue);
    text-decoration: none;
}

.refs__links__link__logo {
    font-size: 2em;
    width: 1.5em;
    color: var(--yellow)
}

.refs__links__link__download {
    font-size: 1.5em;
    width: 1.5em;
    color: var(--yellow)
}

.refs__button {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: .5em 0;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.5em;
    padding: 1em;
    text-decoration: none;
}
