---
layout: default
title:
  cs: Aktuality
  en: Articles
permalink: /news/
pagination:
  enabled: true
  collection: news
  per_page: 6
  sort_reverse: true
---
{% include nav.html %}
<section class="news">
  <h2 class="main__title">{{ page.title | tindex }}</h2>
<!-- This loops through the paginated posts -->
<div class="news__article__wrapper">
  {% for post in paginator.posts %}
  <article class="news__article ">
    <a href="{{post.url}}">
    <div class="news__image" style="background-image: url('{{ post.img | relative_url }}');"></div>
    </a>
    <div class="news__text ">
        <a href="{{post.url}}">
          <h3 class="news__title">{{post.title}}</h3>
        </a>
        <p class="news__short">{{post.short}}</p>
        <div class="news__footer">
          <a class="news__link" href="{{post.url}}">{{ 'articles.read_more' | t }}</a>
          <small class="news__date">{{ post.date | date: "%-d. %-m. %Y" }}</small>
        </div>
    </div>
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="paginator">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="paginator__choice paginator__arrow"><iconify-icon noobserver class="paginator__icon" icon="ion:ios-arrow-back"></iconify-icon></a>
  {% else %}
  <span class="paginator__choice dead paginator__arrow"><iconify-icon noobserver class="paginator__icon" icon="ion:ios-arrow-back"></iconify-icon></span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="paginator__choice selected">{{ page }}</span>
    {% elsif page == 1 %}
      <a class="paginator__choice" href="{{ '/news/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a class="paginator__choice " href="/news/page{{page}}/index.html">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="paginator__choice paginator__arrow"><iconify-icon noobserver class="paginator__icon" icon="ion:ios-arrow-forward"></iconify-icon></a>
  {% else %}
    <span class="paginator__choice dead paginator__arrow"><iconify-icon noobserver class="paginator__icon" icon="ion:ios-arrow-forward"></iconify-icon></span>
  {% endif %}
</div>
{% endif %}
</section>
