<div class="footer_flex"></div>
<footer>
    <div class="footer_line"></div>
    <div class="footer_colums">
        <div>
  <article class="refs__links">
    <a class="refs__links__link" href="https://facebook.com/klubFITpp"><i class="refs__links__link__logo ion ion-logo-facebook"></i> FITplusplus</a>
    <a class="refs__links__link" href="https://instagram.com/klubFITpp"><i class="refs__links__link__logo ion ion-logo-instagram"></i> @klubFITpp</a>
    <a class="refs__links__link" href="https://twitter.com/klubFITpp"><i class="refs__links__link__logo ion ion-logo-twitter"></i> @klubFITpp</a>
    <a class="refs__links__link" href="mailto:fitpp@su.cvut.cz"><i class="refs__links__link__logo ion ion-ios-mail"></i> fitpp@su.cvut.cz</a>
  </article>
            </div>
    <div class="footer_address">
        Klub FIT++<br>
        Thákurova 9<br>
        Praha 6<br>
    </div>
    </div>
</footer>

</html>
