<div class="footer_flex"></div>
<footer>
  <div class="footer_line"></div>
  <div class="footer_colums">
    <div>
      <article class="refs__links">
        <a class="refs__links__link" href="https://instagram.com/klubFITpp" rel="noopener noreferrer" target="_blank"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:logo-instagram"></iconify-icon> @klubFITpp</a>
        <a class="refs__links__link" href="https://mastodon.social/@klubfitpp" rel="me noopener noreferrer" target="_blank"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:logo-mastodon"></iconify-icon> @klubfitpp</a>
        <a class="refs__links__link" href="https://twitter.com/klubFITpp" target="_blank" rel="noopener noreferrer"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:logo-twitter"></iconify-icon> @klubFITpp</a>
        <a class="refs__links__link" href="https://youtube.com/@klubFITpp" target="_blank" rel="noopener noreferrer"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:logo-youtube"></iconify-icon> @klubFITpp</a>
        <a class="refs__links__link" href="https://facebook.com/klubFITpp" target="_blank" rel="noopener noreferrer"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:logo-facebook"></iconify-icon> FITplusplus</a>
        <a class="refs__links__link" href="https://linkedin.com/company/fitpp" target="_blank" rel="noopener noreferrer"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:logo-linkedin"></iconify-icon> fitpp</a>
        <a class="refs__links__link" href="mailto:fitpp@su.cvut.cz" target="_blank" rel="noopener noreferrer"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:ios-mail"></iconify-icon> fitpp@su.cvut.cz</a>
      </article>
    </div>
    <article class="refs__links">
      <a class="foot__button" href="/pridejse">
        <p>{{ "foot.join" | t }}</p>
      </a>
      <div class="footer_address">
          Klub FIT++<br>
          Thákurova 9<br>
          Praha 6, 160 00<br>
      </div>
	  <br>
	  <a href="https://su.cvut.cz/" target="_blank" rel="noopener noreferrer"><img src="{{ "/assets/images/logo_su.svg" | relative_url }}" alt="Logo Studentské Unie ČVUT"/></a>
    </article>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.3.0/dist/iconify-icon.min.js"></script>

</html>
