<div class="footer_flex"></div>
<footer>
  <div class="footer_line"></div>
  <div class="footer_colums">
    <div>
      <article class="refs__links">
        <a class="refs__links__link" href="https://instagram.com/klubFITpp"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:logo-instagram"></iconify-icon> @klubFITpp</a>
        <a class="refs__links__link" href="https://mastodon.social/@klubfitpp" rel="me"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:logo-mastodon"></iconify-icon> @klubfitpp</a>
        <a class="refs__links__link" href="https://twitter.com/klubFITpp"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:logo-twitter"></iconify-icon> @klubFITpp</a>
        <a class="refs__links__link" href="https://youtube.com/@klubFITpp"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:logo-youtube"></iconify-icon> @klubFITpp</a>
        <a class="refs__links__link" href="https://facebook.com/klubFITpp"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:logo-facebook"></iconify-icon> FITplusplus</a>
        <a class="refs__links__link" href="https://linkedin.com/company/fitpp"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:logo-linkedin"></iconify-icon> fitpp</a>
        <a class="refs__links__link" href="mailto:fitpp@su.cvut.cz"><iconify-icon noobserver class="refs__links__link__logo" icon="ion:ios-mail"></iconify-icon> fitpp@su.cvut.cz</a>
      </article>
    </div>
    <article class="refs__links">
      <a class="foot__button" href="https://discord.gg/2Bh93cXGJ3">Přidej se k nám!</a>
      <div class="footer_address">
          Klub FIT++<br>
          Thákurova 9<br>
          Praha 6, 160 00<br>
      </div>
    </article>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.3.0/dist/iconify-icon.min.js"></script>

</html>
