<header class="main-header w-screen max-w-screen h-screen max-h-screen bg-primary-blue-hover flex flex-col justify-between items-center pb-32 ">
    <div class="header-nav w-screen h-20">
        <nav class="m-auto flex justify-evenly items-center w-10/12 max-w-4xl h-20 text-xl font-bold">
            <a href="#" class="text-primary-blue">Aktuality</a>
            <a href="#" class="text-primary-blue">Akce</a>
            <a href="#" class="text-primary-yellow">Dokumenty</a>
        </nav>
    </div>
    

    <img src="{{ "/assets/images/logo.svg" | relative_url }}" alt="Klub FIT++ logo" class="header-logo max-w-2xl mt-20">

    <div id="header-arrow" class="w-12 h-12 border-b-4 border-r-4 border-b-primary-blue border-r-primary-yellow rotate-45 "></div>
</header>