---
permalink: /mentoring
layout: default
title: FIT Mentoring
---
{% include nav.html %}

<section class="container mentoring">

  <h1 class="section__title">FIT Mentoring</h1>

  <div class="mentoring__hero__wrapper">

    <div class="mentoring__hero__card">
      <iconify-icon
        noobserver
        class="mentoring__hero__icon"
        icon="ion:load-a"
      ></iconify-icon>

      <h3>Začínáš na FITu?</h3>

      <p>Byli jsme taky prváci a rádi ti poradíme co nesmíš podcenit.</p>

    </div>

    <div class="mentoring__hero__card">
      <iconify-icon
        noobserver
        class="mentoring__hero__icon"
        icon="ion:arrow-graph-down-right"
      ></iconify-icon>

      <h3>Čeká tě těžký předmět?</h3>

      <p>Pomůžeme ti najít materiály na přípravu nebo poradíme co se naučit a co ne.</p>

    </div>

    <div class="mentoring__hero__card">
      <iconify-icon
        noobserver
        class="mentoring__hero__icon"
        icon="ion:thumbsup"
      ></iconify-icon>

      <h3>Neboj se zeptat!</h3>

      <p>Každému se někdy hodí pomocná ruka. Nikdo si z tebe nebude dělat srandu!</p>

    </div>
  </div>

  <div class="mentoring__filter">

  </div>

  <div class="mentoring__persons">
    {% for i in (1..5) %}
      <button type="button" class="mentoring__persons__card">
        <img class="mentoring__persons__card__image" src="https://placehold.co/400">
        <div class="mentoring__persons__card__titles">
          <p class="mentoring__persons__card__title">John Doe</p>
          <p class="mentoring__persons__card__programme">Teoretická informatika</p>
        </div>

        <div class="mentoring__persons__tags">
          {% for i in (1..7) %}
            <div class="mentoring__persons__tag">
              DML
            </div>
          {% endfor %}
        </div>
      </button>
    {% endfor %}
  </div>
</section>

