---
permalink: /mentoring
layout: default
title: FIT Mentoring
---
{% include nav.html %}

<section class="container mentoring">

  <h1 class="section__title">FIT Mentoring</h1>

  <div class="mentoring__hero__wrapper">

    <div class="mentoring__hero__card">
      <iconify-icon
        noobserver
        class="mentoring__hero__icon"
        icon="ion:load-a"
      ></iconify-icon>

      <h3>Začínáš na FITu?</h3>

      <p>Byli jsme taky prváci a rádi ti poradíme co nesmíš podcenit.</p>

    </div>

    <div class="mentoring__hero__card">
      <iconify-icon
        noobserver
        class="mentoring__hero__icon"
        icon="ion:arrow-graph-down-right"
      ></iconify-icon>

      <h3>Čeká tě těžký předmět?</h3>

      <p>Pomůžeme ti najít materiály na přípravu nebo poradíme co se naučit a co ne.</p>

    </div>

    <div class="mentoring__hero__card">
      <iconify-icon
        noobserver
        class="mentoring__hero__icon"
        icon="ion:thumbsup"
      ></iconify-icon>

      <h3>Neboj se zeptat!</h3>

      <p>Každému se někdy hodí pomocná ruka. Nikdo si z tebe nebude dělat srandu!</p>

    </div>
  </div>

  <div class="mentoring__filter">

  </div>

  <div class="mentoring__persons">
    {% for i in (1..5) %}
      <a href="?mentor={{i}}" onclick="openMentoringPopup(event, {{i}})" class="mentoring__persons__card">
        <img class="mentoring__persons__card__image" src="https://placehold.co/400">
        <div class="mentoring__persons__card__titles">
          <p class="mentoring__persons__card__title">John Doe</p>
          <p class="mentoring__persons__card__programme">Teoretická informatika</p>
        </div>

        <div class="mentoring__persons__tags">
          {% for i in (1..7) %}
            <div class="mentoring__persons__tag">
              DML
            </div>
          {% endfor %}
        </div>
      </a>
    {% endfor %}
  </div>

  <div class="mentoring__popup" aria-hidden id="mentoringPopup">
    <div class="mentoring__popup__backdrop" onclick="closeMentoringPopup()"></div>
    <div class="mentoring__popup__content">

      <div class="mentoring__popup__info">
        <h2>John doe</h2>
        <p>Teoretická informatika</p>
      </div>

      <div class="mentoring__popup__image">
        <img src="https://placehold.co/400">
      </div>

    </div>
  </div>

  <script defer>
    'use strict';
    const mentoringPopupElement = document.getElementById('mentoringPopup')

    function openMentoringPopup(event, mentorId) {
      mentoringPopupElement.classList.add('open')
      mentoringPopupElement.setAttribute('aria-hidden', false)

      // TODO: add query param if event exists
      if (event)
        event.preventDefault()
    }

    function closeMentoringPopup() {
      mentoringPopupElement.classList.remove('open')
      mentoringPopupElement.setAttribute('aria-hidden', true)

      // TODO: remove query param
    }

    window.addEventListener('keyup', (event) => {
      if (event.key === 'Escape')
        closeMentoringPopup()
    })

    /* try to get selected mentor from url */
    const initMentoringSelectedMentor = (() => {
      try {
        const params = new URLSearchParams(window.location.search)

        return parseInt(params.get('mentor'))
      } catch {
        return undefined
      }
    })()

    if (initMentoringSelectedMentor !== undefined && !isNaN(initMentoringSelectedMentor))
      openMentoringPopup(null, initMentoringSelectedMentor)
  </script>
</section>

