---
layout: default
title: Akce
permalink: /events/
pagination: 
  enabled: true
  collection: events
  per_page: 6
  sort_reverse: true
---

{% include nav.html %}
<section class="events">
    <h2 class="main__title">Akce</h2>
</section>

<div class="events__article__wrapper">
    {% for event in paginator.posts %}
    <a href="{{event.url}}">
    <article class="event__article " >    
      <h3 class="event__title">{{event.title}}</h3>
      <div class="event__background event__image" style="background-image: url({{ event.img | relative_url }});">
      </div>
      <div class="event__footer ">
        <small class="event__date">{{ event.date | date: "%-d. %-m. %Y" }}</small>
        <span class="event__link" href="{{event.url}}">Více</span>
      </div>
    </article>
    </a>
    {% endfor %}
  </div>
  
  {% if paginator.total_pages > 1 %}
  <div class="paginator">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="paginator__choice paginator__arrow"><iconify-icon noobserver class="paginator__icon" icon="ion:ios-arrow-back"></iconify-icon></a>
    {% else %}
    <span class="paginator__choice dead paginator__arrow"><iconify-icon noobserver class="paginator__icon" icon="ion:ios-arrow-back"></iconify-icon></span>
    {% endif %}
  
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="paginator__choice selected">{{ page }}</span>
      {% elsif page == 1 %}
        <a class="paginator__choice" href="{{ '/events/' | relative_url }}">{{ page }}</a>
      {% else %}
        <a class="paginator__choice " href="/events/page{{page}}/index.html">{{ page }}</a>
      {% endif %}
    {% endfor %}
  
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="paginator__choice paginator__arrow"><iconify-icon noobserver class="paginator__icon" icon="ion:ios-arrow-forward"></iconify-icon></a>
    {% else %}
      <span class="paginator__choice dead paginator__arrow"><iconify-icon noobserver class="paginator__icon" icon="ion:ios-arrow-forward"></iconify-icon></span>
    {% endif %}
  </div>
  {% endif %}

<section class="calendar">
    <iframe class="calendar__iframe" src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FPrague&showPrint=0&title=FIT%2B%2B%20Akce&showCalendars=0&src=Y184MDM0MmJjMWFmNDc1YTU4MzI3YmRmNWJhNzMzM2I4NjM5MDQ3NDRmMTlmY2E4NTZhNzkzMWYyZTVhM2JkYTdjQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F9B000"></iframe>
</section>
