---
layout: default
title: Akce
permalink: /events/
pagination: 
  enabled: true
  collection: events
  per_page: 6
---

{% include nav.html %}
<section class="events">
    <h2 class="main__title">Akce</h2>
</section>

<div class="events__article__wrapper2">
    {% for event in paginator.posts %}
    <article class="event__article event__image" style="background-image: url({{ event.img | relative_url }});">
      <div class="event__background ">
          <h3 class="event__title">{{event.title}}</h3>
          <div class="event__footer ">
            <small class="event__date">{{ event.date | date: "%-d. %-m. %Y" }}</small>
            <a class="event__link" href="{{event.url}}">Více</a>
          </div>
      </div>
    </article>
    {% endfor %}
  </div>
  
  {% if paginator.total_pages > 1 %}
  <div class="paginator">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="paginator__choice"><i class="paginator__icon ion ion-ios-arrow-back"></i></a>
    {% else %}
    <span class="paginator__choice dead"><i class="paginator__icon ion ion-ios-arrow-back"></i></span>
    {% endif %}
  
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="paginator__choice selected">{{ page }}</span>
      {% elsif page == 1 %}
        <a class="paginator__choice" href="{{ '/news/' | relative_url }}">{{ page }}</a>
      {% else %}
        <a class="paginator__choice " href="/news/{{page}}">{{ page }}</a>
      {% endif %}
    {% endfor %}
  
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="paginator__choice"><i class="paginator__icon ion ion-ios-arrow-forward"></i></a>
    {% else %}
      <span class="paginator__choice dead"><i class="paginator__icon ion ion-ios-arrow-forward"></i></span>
    {% endif %}
  </div>
  {% endif %}

<section class="calendar">
    <iframe class="calendar__iframe" src="https://calendar.google.com/calendar/embed?wkst=2&ctz=Europe%2FPrague&showTitle=1&showDate=1&showPrint=0&showTabs=1&showCalendars=0&showTz=1&src=Zml0cHBAc3UuY3Z1dC5jeg"></iframe>
</section>